.main-header {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#beautiful-art {
  display: block;
  margin: auto;
  max-width: 95%;
  text-align: center;
}

#color-buttons-div {
  margin: 20px;
}

.color-button {
  padding: 15px;
  background-color: white;
}

.color-button:hover {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #e8e8e8;
}

.color-button span {
  padding-left: 10px;
}

.color-box {
  display: inline-block;
  width: 40px;
  height: 16px;
}
